<p id="notice"><%= notice %></p>

<p>
  <strong>Endurance:</strong>
  <%= @pr_endurance.endurance %>
</p>

<%= link_to 'Edit', edit_pr_endurance_path(@pr_endurance) %> |
<%= link_to 'Back', pr_endurances_path %>
