<p id="notice"><%= notice %></p>

<p>
  <strong>Sub category:</strong>
  <%= @pr_sub_category.sub_category %>
</p>

<%= link_to 'Edit', edit_pr_sub_category_path(@pr_sub_category) %> |
<%= link_to 'Back', pr_sub_categories_path %>
