<!DOCTYPE html>
<html lang="en">
    <head>
   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="icon" href="assets/img/favicon.png" sizes="any" />
     
            <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
      $("#header").load("header.html"); 
      $("#footer").load("footer.html"); 
    });
    </script> 
    
    </head>
<body>

 
    <div id="header"></div>

    <div class="container">
    <br>
    <div class="col-12">
        <h2 class="section-title ms-3"> 
            <span>Контакти</span>
        </h2>
    </div><br>
    <div class="card mb-3" style="width: 100%;">
        
        <div class="card-body">
          <h5 class="card-title">м. Дніпро, пр. Гагаріна,16</h5>
          <p class="card-text">Час роботи: 08:00 до 22:00</p>
          <a href="https://goo.gl/maps/FuvWC6EcjNDFy3nt8" class="btn btn-outline-warning">На карті</a>
        </div>
      </div>
      
      <div class="card  mb-3" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">м. Київ, пр-т Перемоги, 17/23</h5>
          <p class="card-text">Час роботи: 10:00 до 23:00</p>
          <a href="https://goo.gl/maps/xCGmvreHDbrUT4wd6" class="btn btn-outline-warning">На карті</a>
        </div>
      </div>
      
      <div class="card mb-3" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">м.Черкаси , бульв. Шевченка,243</h5>
          <p class="card-text">Час роботи: 11:00 до 22:00</p>
          <a href="https://goo.gl/maps/PViGPsAmLNWoYPJL9" class="btn btn-outline-warning">На карті</a>
        </div>
      </div>

      <div class="card mb-3" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">м.Харків, вулиця Академіка Вальтера, 14</h5>
          <p class="card-text">Час роботи: 10:00 до 21:00</p>
          <a href="https://goo.gl/maps/ahrfLufyfGaWRA3U8" class="btn btn-outline-warning">На карті</a>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row mb-6 ">
            <div class="col-12">
                <h2 class="section-title ms-3">
                    <span>Адреса магазину в Харкові</span>
                </h2><br>
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.561924582158!2d36.25804377630826!3d50.09448831293022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a5e6b7c289e5%3A0x28c1a35ccece81d6!2z0LLRg9C70LjRhtGPINCQ0LrQsNC00LXQvNGW0LrQsCDQktCw0LvRjNGC0LXRgNCwLCAxNCwg0KXQsNGA0LrRltCyLCDQpdCw0YDQutGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1suk!2sua!4v1684498789197!5m2!1suk!2sua" 
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <br>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="assets/js/main.js"></script>
    </div>
    <div id="footer"></div>
</body>
</html>