<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DedDoma</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="home.scss">
  <link rel="icon" href="favicon.png" sizes="any"/>
</head>

<body>

<div class="wrapper">

  <!-- ./header-bottom -->

  <main class="main">
    <p></p>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "1.jpg", :class => 'd-block w-100' %>
          <div class="carousel-caption d-none d-md-block">
            <h4>Автохтонні сорти - душа землі</h4>
            <p>Автохтонний - від англ. autochthon, що означає аборигенний чи місцевий. Так називають сорти винограду, що
              з'явилися внаслідок природного схрещування на певній території. Як правило,
              вони не вирощуються за межами свого регіону чи країни, максимально адаптовані до природних умов своєї
              галузі та дають унікальні якісні вина з унікальним характером.</p>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "3.jpg", :class => 'd-block w-100' %>
          <div class="carousel-caption d-none d-md-block">
            <h4>Глінтвейн «Вишневий садок»</h4>
            <p>Якщо у вас вдома є вишнева настойка або ви купили таку в одному з магазинів з крафтовими наливками, то
              радимо спробувати глінтвейн «Вишневий садок». Від класичного рецепту він відрізняється додаванням
              улюбленої уs
              нас вишневої настойки, ягід вишні (якщо є) та акцентом на меді зі спеціями.</p>
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "2.jpg", :class => 'd-block w-100' %>
          <div class="carousel-caption d-none d-md-block">
            <h4>Ідеальний партнер для локальної кухні</h4>
            <p>Вино з автохтонного ґатунку — головний пазл для повної картини смаку виноробного регіону. Ну, уявіть собі
              ситуацію - ви опинилися в Грузії, вас запросили в гості,
              стіл ломитися від закусок, звучать тости і ось суворий чоловік подає вам запашний шашлик. З яким вином ви
              будете його поєднувати? </p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- ./carusel -->

    <section class="advantages">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h2 class="section-title">
              <span>Нашi переваги</span>
            </h2>
          </div>
        </div>
        <div class="items">
          <div class="row gy-3">
            <div class="col-lg-3 col-sm-6">
              <div class="item">
                <p>
                  <i class="fas fa-shipping-fast"></i>
                </p>
                <p>Прямі поставки від виробника</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="item">
                <p>
                  <i class="fas fa-cubes"></i>
                </p>
                <p>Широкий асортимент товарів</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="item">
                <p>
                  <i class="fas fa-hand-holding-usd"></i>
                </p>
                <p>Найкращі ціни</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="item">
                <p>
                  <i class="fa-solid fa-user-graduate"></i>
                </p>
                <p>Консультація від професіоналів</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ./advantages -->


  </main>
  <main class="featured-products">
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-12">
          <h2 class="section-title">
            <span>Кращі пропозиції</span>
          </h2>
        </div>
      </div>

      <%= render 'products/form' %>
<!--      <div class="row d-flex justify-content-start">-->
        <%# @products.each do |product| %>
<!--          <div class="col-lg-3 col-md-4 col-sm-6 mb-3">-->
            <%#= link_to(product) do %>
<!--              <div class="product-card">-->
<!--                <div class="product-thumb">-->
                  <%#= image_tag(product.images[0]) %>
<!--                </div>-->
<!--                <div class="product-details">-->
                  <%#= product.pr_name %>
                  <%#= product.pr_sub_category %>
<!--                  <div class="product-bottom-details d-flex justify-content-between">-->
<!--                    <div class="product-price">-->
<!--                      <%#= product.price_for_client %>₴-->
<!--                    </div>-->
<!--                    <div class="product-links">-->
<!--                      <a>-->
                        <%#= form_with(url: carts_add_path) do |f| %>
                          <%#= f.hidden_field :id, value: product.id %>
                          <%# if @cart.orderables.where(product_id: product.id)[0] == nil %>
                              <%#= f.hidden_field :quantity, value: 1%>
                            <%# else %>
                              <%#= f.hidden_field :quantity, value: @cart.orderables.where(product_id: product.id)[0].quantity + 1%>
                            <%# end %>
                          <%#= f.submit "", :class=>"btn  btn-outline-secondary add-to-cart"%>
                        <%# end %>
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            <%# end %>
<!--          </div>-->
        <%# end %>
<!--      </div>-->


    </div>
  </main>
</div>

<!-- ./cards-->
</body>
<!-- ./map -->
</html>
