<!DOCTYPE html>
<html lang="en">
    <head>
   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="icon" href="assets/img/favicon.png" sizes="any" />
     
            <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
      $("#header").load("header.html"); 
      $("#footer").load("footer.html"); 
    });
    </script> 
    
    </head>
<body>
    <div id="header"></div>

    


    <div class="wrapper_inner  ">
        <div class="container_inner clearfix ">
                            <div class="right_block  wide_ ">
                            <div class="middle  ">

                                <br><div class="container">
                                                <div class="col-12">
                                                    <h2 class="section-title"> 
                                                        <span>Оплата і доставка</span>
                                                    </h2>
                                                </div><br>
                                                                                                       
<span style="color: #000000;"> <b>Оплата на сайті LiqPay:</b></span><br>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">Онлайн оплата карткою Visa/MasterCard.<br>
</li>
<li style="color: #000000;">Оплата за допомогою Приват24.<br>
</li>
<li style="color: #000000;">У терміналі ПриватБанк карткою або готівкою.<br>
</li>
<li style="color: #000000;">За допомогою електронного гаманця MasterPass.<br>
</li>
</ul>
<span style="color: #000000;"> <b>Інші способи оплати:</b></span><br>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">Онлайн оплата карткою Visa/MasterCard на сайті WayForPay.<br>
</li>
<li style="color: #000000;">Накладений платіж (2% від суми +20 грн) оплата карткою Visa/MasterCard або готівкою у відділенні "Нова Пошта" при отриманні товару.</li>
</ul>
<h3 style="text-align: left;"><span style="color: #000000;">Доставка до відділення "Нова Пошта" по Україні</span></h3>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<span style="color: #000000;"><b>Умови доставки у будні дні:&nbsp;</b></span><br>
<ul>
<li style="color: #000000;">замовлення оформлені до 15:00 будуть надіслані того ж дня.</li>
<li style="color: #000000;">замовлення оформлені після 15:00 будуть надіслані наступного дня.</li>
</ul>
<span style="color: #000000;"> <b>Умови доставки у вихідні дні:</b></span><br>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">субота до 13:00 відправка того ж дня.</li>
<li style="color: #000000;">неділя відправок немає.</li>
</ul>
<span style="color: #000000;"> <b>Вартість доставки згідно з тарифами Нової пошти.</b></span><br>
<br>
<span style="color: #000000;">
Звертаємо Вашу увагу на те, що посилка у відділенні Нової пошти безкоштовно знаходиться 5 календарних днів. Якщо товар не забраний, вантаж відправляється назад на склад відправника.</span><br>
<h3>
<div>
</div>
</h3>
<h3 style="text-align: center;">
<div>
</div>
</h3>
<h3 style="text-align: left;">
<div>
<span style="color: #000000;">Доставка кур'єром "Нова Пошта" по Україні</span>
</div>
<span style="color: #000000;"> </span><span style="color: #000000;"> </span><span style="color: #000000;"> </span>
<ul style="text-align: left;">
</ul>
<span style="color: #000000;"> </span><span style="color: #000000;"> </span></h3>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<span style="color: #000000;"><b>Умови доставки у будні дні: </b></span><b> </b>
<ul>
<li style="color: #000000;">замовлення оформлені до 15:00 будуть надіслані того ж дня.</li>
<li style="color: #000000;">замовлення оформлені після 15:00 будуть надіслані наступного дня.</li>
</ul>
<span style="color: #000000;"> <b>Умови доставки у вихідні дні:</b></span><br>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
</ul>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">субота до 13:00 відправка того ж дня.</li>
<li style="color: #000000;">неділя відправок немає.</li>
</ul>
<span style="color: #000000;"> <b>Спосіб оплати:</b></span><br>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">Онлайн оплата карткою Visa/MasterCard на сайті WayForPay.<br>
</li>
<li style="color: #000000;">накладений платіж (2% від суми +20 грн) оплата карткою Visa/MasterCard або готівкою,&nbsp;при отриманні товару.</li>
</ul>
<div>
<b>Вартість доставки згідно з тарифами Нової пошти.</b><br>
<br>
</div>
<h3></h3>
<h3 style="text-align: center;"></h3>
<h3 style="text-align: left;">Експрес доставка кур'єром DedDoma м. Харків</h3>
<div>
При замовленні до 17:00, доставка в той же день протягом 2-5 годин з моменту підтвердження замовлення.<br>
</div>
<br>
<span style="color: #000000;">
Вартість доставки - 200 грн.</span><br>
<br>
<span style="color: #000000;"> <b>Умови доставки:</b></span><br>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">доставка кур'єром діє тільки в будні дні.</li>
</ul>
<span style="color: #000000;"> <b>Спосіб оплати:</b></span><br>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">100% передплата Visa/MasterCard на сайті WayForPay.</li>
</ul>
<span style="color: #000000;"> </span>
<h3><span style="color: #000000;">
<div>
Безкоштовна доставка кур'єром&nbsp;DedDoma м. Харків
</div>
</span></h3>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">термін доставки замовлення протягом 1-3 днів.</li>
<li>100% передплата Visa/MasterCard на сайті WayForPay.</li>
</ul>
<span style="color: #000000;"> <b>Вартість доставки:</b></span><br>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">безкоштовно.</li>
</ul>
<h3></h3>
<h3 style="text-align: center;"></h3>
<h3 style="text-align: left;"><span style="color: #000000;">Самовивіз м. Харків</span></h3>
<p style="text-align: left;">
</p>
<p>
</p>
<p style="text-align: left;">
</p>
<span style="color: #000000;">Після оформлення замовлення нам потрібно приблизно 1-3 дні на його комплектування та доставку.</span><br>
<br>
<span style="color: #000000;">
Після прибуття товару в магазин з вами зв'яжеться менеджер і ви зможете забрати своє замовлення.</span><br>
<br>
<span style="color: #000000;"><b>Вартість самовивозу:</b></span><br>
<b> </b><span style="color: #000000;"><b> </b></span><b> </b>
<ul>
<li style="color: #000000;">безкоштовно.</li>
</ul>
<br>
<b>Важливо! У зв'язку із введенням у дію Розпорядження №Р-386 від 17.5.2022р. про заборону торгівлі алкогольними напоями в Донецькій, Луганській та Херсонській області, відправка замовлень тимчасово не здійснюється. У разі виявлення алкогольних напоїв на замовлення , Нова пошта буде змушена їх утилізувати.</b><br>	<br>																																		</div> 																	
          

    <div id="footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>