<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @pr_country.country %>
</p>

<%= link_to 'Edit', edit_pr_country_path(@pr_country) %> |
<%= link_to 'Back', pr_countries_path %>
