<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @pr_category.category %>
</p>

<%= link_to 'Edit', edit_pr_category_path(@pr_category) %> |
<%= link_to 'Back', pr_categories_path %>
