<p id="notice"><%= notice %></p>

<p>
  <strong>Alcohol:</strong>
  <%= @pr_alcohol.alcohol %>
</p>

<%= link_to 'Edit', edit_pr_alcohol_path(@pr_alcohol) %> |
<%= link_to 'Back', pr_alcohols_path %>
