<p id="notice"><%= notice %></p>

<p>
  <strong>Sweetness:</strong>
  <%= @pr_sweetness.sweetness %>
</p>

<%= link_to 'Edit', edit_pr_sweetness_path(@pr_sweetness) %> |
<%= link_to 'Back', pr_sweetnesses_path %>
