
.contact-info {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.info-navbar{
  color: black;
  text-decoration: none;
}
.info-navbar:hover{
  color: #b20000;
}
.btn-warning{
  color: white !important;
  background-color: #fdb10b;
}
.btn-warning:hover{
  color: black !important;
  background-color: #ffd64f !important;
}
.call-inf:hover{
  color: #fe8535;
}
.social-links .btn-youtube:hover {
  background-color: red;
  color: white;
}
.social-links .btn-facebook:hover {
  background-color: blue;
  color: white;
}
.social-links .btn-inst:hover {
  background-color: deeppink;
  color: white;
}
.social-links .btn-telegram:hover {
  background-color: cornflowerblue;
  color: white;
}
.navbar-nav {
  width: 100%;
}

.nav-link {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
}

.btn-lg {
  padding: 10px 20px;
  font-size: 18px;
}
.nav-item {
  flex: 1;
}
.ad-slider {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.ad-slide {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.user-block{
  margin-left: auto;
}
